---
layout: default
title: ISO Standards / Normas ISO.
---

</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->    



<!-- Featured
        ================================================== -->
        <section class="featured-posts">

            <div class="section-title">
                <h2><span>VIDEOS DE ENTRENAMIENTO Y EXPERIENCIA </span></h2>
            </div>

            <div class="row listfeaturedtag">

            {% for post in site.posts %}

                {% unless post.featured == true or post.featured == false %}

                    {% include featuredbox.html %}

                {% endunless %}

            {% endfor %}

            </div>

        
<p><iframe style="width:100%;" height="315" src="https://www.youtube.com/embed/aeqWCTYT-qk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
